@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Flex{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Grid{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: '50% 50%';
  grid-template-rows: '50vh 50vh';
  grid-template-areas: "T0 T1" "T0 T2";
}

.Tile3Main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 32px;
  color: #fff;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  flex-grow: 1;
}

.Tile{
  width: calc(50% - 20px);
  height: calc(50vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 32px;
  color: #fff;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  flex-grow: 1;
}

.TileOdd{
  width: calc(50% - 20px);
  height: calc(50vh - 20px);
}

.TileOdd:nth-last-child(1), .TileOdd:nth-last-child(2), .TileOdd:nth-last-child(3) {
  height: calc(50vh - 20px);
  width: calc(33.33% - 20px);
}

.Tile2:nth-child(2), .Tile2:nth-child(3) {
  height: calc(100vh - 20px);
  width: calc(50% - 20px);
}